@font-face {
    font-family: "paint";
    src: url("fonts\\LEMONMILK-Regular.otf"); 
}

@font-face {
  font-family: "paint2";
  src: url("fonts\\AlteHaasGroteskBold.ttf");
}

@font-face {
  font-family: "paint3";
  src: url("fonts\\CaviarDreams.ttf");
}

@font-face {
  font-family: "paint4";
  src: url("fonts\\CaviarDreams_Bold.ttf");
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    transition: background-color 1s ease;
}

.h1_title {
  font-family: "paint";
  font-size: 40px;
  background: url("gif1.gif");
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  margin-top: -1%;
}

.h1_title:focus {
  outline: none;
}

.h2_title {
    font-family: "paint2";
    font-size: 15px;
    margin-top: -10px;
    color: aliceblue;
}

.parallax {
    background-image: url('deko.jpg');
    background-size: cover;
    background-attachment: fixed; /* Keep the background fixed */
    background-position: center;
    height: 100vh; /* You can adjust the height here */
    position: relative;
    overflow: hidden;
}
.zoom-frame {
    position: absolute;
    top: -15vw;
    transition: top 0.3s ease; /* Add transition for smooth movement */
}
.frame-image {
    width: 100%;
}
.parallax-text {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.hidden {
    color: aliceblue;
    opacity: 0;
    transition: opacity 0.2s ease;
}
.visible {
    color: aliceblue;
    opacity: 1;
}


/* panel styles */
.panel {
  /* min height incase content is higher than window height */
  min-height: 40vh;
  display: flex;
  flex-direction: column; /* Modifica la direzione del flessibile a colonna */
  justify-content: center; /* Centra verticalmente il contenuto */
  align-items: center; /* Centra orizzontalmente il contenuto */
}

/* colours */
.color-violet {
  background-color: #fa9090;
}
.color-indigo {
  background-color: #ffbb00;
}
.color-blue {
  background-color: #2F8FED;
}
.color-green {
  background-color: #4DCF42;
}
.color-yellow {
  background-color: #FAEB33;
}
.color-orange {
  background-color: #F19031;
}
.color-red {
  background-color: #F2293A;
}

.h1_body {
  font-family: "paint2";
  font-size: 40px;
  margin-top: 5%;
  text-align: center;
}

.p_body {
  font-family: "paint3";
  font-size: 17px;
  margin-left: 6%;
  margin-right: 4%;
  color: rgb(0, 0, 0);
  margin-top: 2%;
  margin-bottom: -2%;
  text-align: justify;
}

.bold {
  font-family: "paint4";
  font-size: 23px;
}
/* 

.card {
  position: relative;
  width: 200%;
  margin-left: auto;
  margin-right: auto;
  transition: 0.3s;
  transform-style: preserve-3d;

  
}
.card:hover {
  transform: rotateY(180deg);
}

.front,
.back {
  position:absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.front {
  z-index: 2;
}

.back {
  transform: rotateY(180deg);
}

.container {
  padding: 2px 16px;
} */

#card1 {
  background-image: url("blue.png"); /* Imposta il colore di sfondo trasparente */
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 50%;
  background-position-y: 83%;
  
}

.image-container {
  position: relative;
  width: 90%;
  margin-top: 10%;
}

.image-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  background-color: transparent; /* Cambia il colore di sfondo del retro qui */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "paint4";
  font-size: 18px;
  color: aliceblue;
}

.image-container:hover .image-front {
  transform: rotateY(180deg);
}

.image-container:hover .image-back {
  visibility: visible;
}

.image-front,
.image-back {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: transform 0.5s;
}

.image-front-text {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: "paint4";
  font-size: 24px;
  color: aliceblue;
}


.image-container:hover .image-front-text {
  visibility: hidden;
}

a {
  color: black;
}

.p_body li {
  background: linear-gradient(to right, transparent 50%, rgb(98, 184, 255) 50%); /* Applica un gradiente al colore di sfondo */
  background-size: 200% 100%; /* Duplica il gradiente per coprire completamente l'elemento */
  transition: background-position 0.5s; /* Aggiungi una transizione per un effetto graduale */
}

.p_body li:hover {
  background-position: -100% 0; /* Sposta il gradiente per mostrare completamente il colore al passaggio del mouse */
  cursor: pointer; /* Cambia il cursore quando passi sopra l'elemento */
}

.h2_body {
  font-family: "paint2";
  font-size: 20px;
  text-align: center;
  color: aliceblue;
}

.panel {
  position: relative;
}


/* macchia colore kooning 2 */
#part1 {
  position: absolute;
  width: 20%; /* Imposta la larghezza dell'immagine */
  z-index: -1; /* Assicura che l'immagine sia posizionata sopra il resto del contenuto */
  transition: transform 0.3s; /* Aggiungi una transizione per rendere più fluida la rotazione */
  margin-top: -75%;
  margin-left: -71%;
}

.scroll-rotate {
  transform: rotate(108deg); /* Ruota leggermente l'immagine durante lo scrolling */
}

.space {
  margin-top: 5%;
  margin-bottom: 5%;
}

/* macchia colore kooning 2 */
#part2 {
  position: absolute;
  width: 21%; /* Imposta la larghezza dell'immagine */
  z-index: -1; /* Assicura che l'immagine sia posizionata sopra il resto del contenuto */
  transition: transform 0.3s; /* Aggiungi una transizione per rendere più fluida la rotazione */
  margin-left: 75%;
  margin-top: -90%;
}

.scroll-rotate {
  transform: rotate(108deg); /* Ruota leggermente l'immagine durante lo scrolling */
}


.card.border-primary:hover {
  box-shadow:  0 0 10px #007bff; /* Colore bordo sfumato per la card con classe border-primary */
}

.card.border-success:hover {
  box-shadow: 0 0 10px #28a745; /* Colore bordo sfumato per la card con classe border-success */
}

.card.border-warning:hover {
  box-shadow: 0 0 10px #ffc107; /* Colore bordo sfumato per la card con classe border-warning */
}

.card.border-danger:hover {
  box-shadow: 0 0 10px #dc3545; /* Colore bordo sfumato per la card con classe border-danger */
}

#part3 {
  position: absolute;
  width: 18%; /* Imposta la larghezza dell'immagine */
  z-index: -1; /* Assicura che l'immagine sia posizionata sopra il resto del contenuto */
  transition: transform 0.3s; /* Aggiungi una transizione per rendere più fluida la rotazione */
  margin-top: -55%;
  margin-left: -71%;
}

#part4 {
  position: absolute;
  width: 8%; /* Imposta la larghezza dell'immagine */
  z-index: -1; /* Assicura che l'immagine sia posizionata sopra il resto del contenuto */
  transition: transform 0.3s; /* Aggiungi una transizione per rendere più fluida la rotazione */
  margin-top: -55%;
  margin-left: 65%;
}

#div_myChart1 {
  display: block;
  margin-top: 3%;
  background-color: aliceblue;
  border-radius: 15px;
}

#chartCaption {
  margin-top: 2%;
  text-align: center;
}

#div_myChart2 {
  display: block;
  margin-top: 4%;
  background-color: aliceblue;
  border-radius: 15px;
}

#div_myChart3 {
  display: block;
  margin-top: 4%;
  background-color: aliceblue;
  border-radius: 15px;
}

#div_myChart4 {
  display: block;
  margin-top: 4%;
  background-color: aliceblue;
  border-radius: 15px;
}

#div_myChart5 {
  display: block;
  margin-top: 4%;
  background-color: aliceblue;
  border-radius: 15px;
}

#div_myChart6 {
  display: block;
  margin-top: 4%;
  background-color: aliceblue;
  border-radius: 15px;
}