
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: "paint";
    src: url("fonts\\LEMONMILK-Regular.otf"); 
}

@font-face {
  font-family: "paint2";
  src: url("fonts\\AlteHaasGroteskBold.ttf");
}

@font-face {
  font-family: "paint3";
  src: url("fonts\\CaviarDreams.ttf");
}

@font-face {
  font-family: "paint4";
  src: url("fonts\\CaviarDreams_Bold.ttf");
}

body {
    margin: 0;
    font-family: Roboto !important;
    overflow-x: hidden;
    transition: background-color 1s ease;
}
#treemap svg {
  background-color: transparent !important;
}
.h1_title {
  font-family: "paint";
  font-size: 4vw;
  background: url("gif1.gif");
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  margin-top: -1%;
}

.h1_title:focus {
  outline: none;
}

.h2_title {
    font-family: Roboto;
    font-size: 15px;
    margin-top: -10px;
    color: aliceblue;
}

#title_a {
  height: auto;
  min-height: unset !important;
}

.parallax {
    background-image: url('deko.jpg');
    background-size: cover;
    background-attachment: fixed; /* Keep the background fixed */
    background-position: center;
    height: 100vh; /* You can adjust the height here */
    position: relative;
    overflow: hidden;
}
.zoom-frame {
    position: absolute;
    top: -15vw;
    transition: top 0.3s ease; /* Add transition for smooth movement */
}
.frame-image {
    width: 100%;
}
.parallax-text {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.hidden {
    color: aliceblue;
    opacity: 0;
    transition: opacity 0.2s ease;
}
.visible {
    color: aliceblue;
    opacity: 1;
}


/* panel styles */
.panel {
  /* min height incase content is higher than window height */

  min-height: 40vh;
  display: flex;
  flex-direction: column; /* Modifica la direzione del flessibile a colonna */
  justify-content: center; /* Centra verticalmente il contenuto */
  align-items: center; /* Centra orizzontalmente il contenuto */
}

/* colours */
.color-violet {
  background-color: #FCAC23;
}
.color-indigo {
  background-color: #81B1D5;
}
.color-blue {
  background-color: #2F8FED;
}
.color-green {
  background-color: #4DCF42;
}
.color-yellow {
  background-color: #FAEB33;
}
.color-orange {
  background-color: #F19031;
}
.color-red {
  background-color: #E9A2FF;
}

.h1_body {
  font-family: "paint";
  font-size: 40px;
  margin-top: 5%;
  text-align: center;
}

.p_body {
  font-family: Roboto !important;
  font-size: 1em;

  color: rgb(31, 29, 29);
  margin-top: 2%;
  margin-bottom: -2%;
  text-align: left;
}


#card1 {
  background-image: url("blue.png"); /* Imposta il colore di sfondo trasparente */
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 50%;
  background-position-y: 83%;
  
}


.image-container {
  position: relative;
  margin-top: 4%;
}

.image-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  background-color: transparent; /* Cambia il colore di sfondo del retro qui */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "paint";
  color: aliceblue;
}

.image-container:hover .image-front {
  transform: rotateY(180deg);
}

.image-container:hover .image-back {
  visibility: visible;
}

.image-front,
.image-back {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: transform 0.5s;
}

.image-front-text {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: "paint";
  font-size: 1.3rem;
  color: aliceblue;
}

#front1 {
  margin-left: 3vw;

}

#front2 {
  margin-left: -2vw;

}

#back1 {
  margin-left: 4.5vw;
}

#back2 {
  margin-left: -2vw;

}

.image-container:hover .image-front-text {
  visibility: hidden;
}

a {
  color: black;
}

.p_body li {
  margin-left: 1vw;
  margin-right: 1vw;
  background: linear-gradient(to right, transparent 50%, rgb(98, 184, 255) 50%); /* Applica un gradiente al colore di sfondo */
  background-size: 200% 100%; /* Duplica il gradiente per coprire completamente l'elemento */
  transition: background-position 0.5s; /* Aggiungi una transizione per un effetto graduale */
}

.p_body li:hover {
  background-position: -100% 0; /* Sposta il gradiente per mostrare completamente il colore al passaggio del mouse */
  cursor: pointer; /* Cambia il cursore quando passi sopra l'elemento */
}

.h2_body {
  font-family: Roboto ;
  color: #352f36;
  font-size: 1.5rem;
  text-align: center;
  color: aliceblue;
}

.panel {
  position: relative;
  
}

.sectioncontainer {
  display: flex;
  height: 60vh;
}

.sectioncontainer2, .sectioncontainer3 {
  width: 50%;
  height: inherit;
  
}

.sectioncontainer1 {
  width:50%;
  height: inherit;
  clip-path: polygon(0 0, 100% 0, 61% 100%, 0% 100%);
  background-image: url('deko.jpg'); /* Specify your image URL here */
  background-size: cover; /* Adjust as needed */
  background-position: center; /* Adjust as needed */
  background-repeat: no-repeat;
  }

  .sectioncontainer4 {
    width:50%;
    height: inherit;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 28% 100%);
    background-image: url('Gkport.png'); /* Specify your image URL here */
    background-size: cover; /* Adjust as needed */
    background-position: center; /* Adjust as needed */
    background-repeat: no-repeat;
    }
  

/* macchia colore kooning 2 */
#part1 {
  position: relative;
  width: 100px;
  /* height: 100px; */
  z-index: -1;
  transition: transform 0.3s;
  margin-left: 5%;
  float: left;
  margin-right: -20%;
}

.scroll-rotate {
  transform: rotate(108deg); /* Ruota leggermente l'immagine durante lo scrolling */
}

.space {
  margin-bottom: 5%;
}

.counter.p_body {
  font-size: 5rem;
}

/* macchia colore kooning 2 */
#part2 {
  position: absolute;
  width: 21%; /* Imposta la larghezza dell'immagine */
  z-index: -1; /* Assicura che l'immagine sia posizionata sopra il resto del contenuto */
  transition: transform 0.3s; /* Aggiungi una transizione per rendere più fluida la rotazione */
  margin-left: 75%;
  margin-top: -90%;
}

.scroll-rotate {
  transform: rotate(108deg); /* Ruota leggermente l'immagine durante lo scrolling */
}


.card.border-primary:hover {
  box-shadow:  0 0 10px #007bff; /* Colore bordo sfumato per la card con classe border-primary */
}

.card.border-success:hover {
  box-shadow: 0 0 10px #28a745; /* Colore bordo sfumato per la card con classe border-success */
}

.card.border-warning:hover {
  box-shadow: 0 0 10px #ffc107; /* Colore bordo sfumato per la card con classe border-warning */
}

.card.border-danger:hover {
  box-shadow: 0 0 10px #dc3545; /* Colore bordo sfumato per la card con classe border-danger */
}

#part3 {
  position: absolute;
  width: 18%; /* Imposta la larghezza dell'immagine */
  z-index: -1; /* Assicura che l'immagine sia posizionata sopra il resto del contenuto */
  transition: transform 0.3s; /* Aggiungi una transizione per rendere più fluida la rotazione */
  margin-top: -55%;
  margin-left: -71%;
}

#part4 {
  position: absolute;
  width: 8%; /* Imposta la larghezza dell'immagine */
  z-index: -1; /* Assicura che l'immagine sia posizionata sopra il resto del contenuto */
  transition: transform 0.3s; /* Aggiungi una transizione per rendere più fluida la rotazione */
  margin-top: -55%;
  margin-left: 65%;
}

#div_myChart1 {
  display: block;
  margin-top: 3%;

  border-radius: 15px;
}

#chartCaption {
  margin-top: 2%;
  text-align: center;
}

#div_myChart2 {
  display: block;

  background-color: aliceblue;
  border-radius: 15px;
}

#div_myChart3 {
  display: block;
  margin-top: 4%;
  background-color: aliceblue;
  border-radius: 15px;
}

#div_myChart4 {
  display: block;
  margin-top: 4%;
  background-color: aliceblue;
  border-radius: 15px;
}

#div_myChart5 {
  display: block;
  margin-top: 4%;
  background-color: aliceblue;
  border-radius: 15px;
}

#div_myChart6 {
  display: block;
  margin-top: 4%;
  background-color: aliceblue;
  border-radius: 15px;
}

#div_myChart0 {
  display: inline-block;
  background-color: aliceblue;
  border-radius: 15px;
  width: 30%;
  height: 35vw;
  padding: 2%;
  margin-top: 2%;
}

#div_myChart9 {
  display: inline-block;
  height: 35vw;
  background-color: aliceblue;
  border-radius: 15px;
  width: 30%;
  margin-top: 2%;
  margin-right: 9rem;
  padding: 2%;
  
}

#chartCaption {
  color: #352f36;
}

#contact-button {
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.person-name {
  margin-right: auto; /* Pushes the icons to the right */
}

.icon-link {
  margin-left: 10px; /* Add space between the name and icons */
  color: #000103; /* Initial icon color */
  text-decoration: none;
  transition: color 0.3s; /* Smooth color transition on hover */
}

.icon-link:hover {
  color: #ffbe33; /* Change color on hover */
}

 footer .row {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.elementfooter1 {
  display: flex;
  flex-direction: row;
  align-content: center;
  margin: 0% 4% 2%;
  gap:6%;
}

.row.flex {
  margin: 2% 0%;
  padding: 0%;
  --bs-gutter-x: 1em;
}

.totalcontainer {
  padding: 0 5%;
}

section:not(:first-child), .auctions, .publications, .exhibitions {
  margin-top: 5%;
}

.flexok {
  display: flex;
  align-items: center; /* Centra verticalmente i contenuti */
}

.counter {
  margin-right: 10px; /* Margine a destra per separare il counter dalla classe perc */
}


.h3_body {
  font-family: 'paint';
  font-size: 0.95em;
  margin-top: -2%;
text-align: center;
}

ul.p_body {
  margin-top: 10vh;
}

li.p_body {
  margin-bottom:10vh;
}

.checkbox label {
  margin-bottom: 1%;
  background: linear-gradient(to right, transparent 50%, rgb(255, 193, 6) 50%); /* Applica un gradiente al colore di sfondo */
  background-size: 200% 100%; /* Duplica il gradiente per coprire completamente l'elemento */
  transition: background-position 0.5s; /* Aggiungi una transizione per un effetto graduale */
}

.checkbox label:hover {
  background-position: -100% 0; /* Sposta il gradiente per mostrare completamente il colore al passaggio del mouse */
  cursor: pointer; /* Cambia il cursore quando passi sopra l'elemento */
}


.decoleft, .decoright {
  height:150px;
  width:150px;
  background-color: transparent;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.decoleft {
  float: left;
  margin-left:-15%;
  background-image: url('partDK2.png');
}

.decoright {
  float: right;
  margin-right: -15%;
  background-image: url(partDK1.png);
  position: relative;
  margin-top: -10%;
}

.row {
  margin-top: 4%;
  margin-bottom: 4%;
}
.magnify{
  border-radius: 50%;
  border: 2px solid black;
  position: absolute;
  z-index: 20;
  background-repeat: no-repeat;
  background-color: white;
  box-shadow: inset 0 0 20px rgba(0,0,0,.5);
  display: none;
  cursor: none;
}



/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul {
  background: transparent;
  padding: 50px 0;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #fff;
}

.timeline ul li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
  z-index: 1;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: #e5f45b;
}

.timeline ul li div::before {
  content: "";
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #e5f45b transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: -439px;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #e5f45b;
}

time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}


/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
  transition: background 0.5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: #e5f45b;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #e5f45b transparent transparent;
  }
}


/* EXTRA/CLIP PATH STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.timeline-clippy ul li::after {
  width: 40px;
  height: 40px;
  border-radius: 0;
}

.timeline-rhombus ul li::after {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.timeline-rhombus ul li div::before {
  bottom: 12px;
}

.timeline-star ul li::after {
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}

.timeline-heptagon ul li::after {
  clip-path: polygon(
    50% 0%,
    90% 20%,
    100% 60%,
    75% 100%,
    25% 100%,
    0% 60%,
    10% 20%
  );
}

.timeline-infinite ul li::after {
  animation: scaleAnimation 2s infinite;
}

@keyframes scaleAnimation {
  0% {
    transform: translateX(-50%) scale(1);
  }
  50% {
    transform: translateX(-50%) scale(1.25);
  }
  100% {
    transform: translateX(-50%) scale(1);
  }
}


